* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background: #181616;
  color: #fff;
  max-width: 1920px;
  max-height: 1080px;
  overflow: hidden;
}

/* About */
#about {
  padding: 80px 0;
  color: #f5ebeb;
}
#aldi2 {
  width: 660px; /* Lebar gambar */
  height: auto; /* Tinggi gambar */
  object-fit: cover; /* Menjaga proporsi gambar */
  position: absolute;
  top: 25px;
  flex-shrink: 0;
  left: 80px; /* Meletakkan gambar di bagian kanan */
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #f5ebeb;
  font-family: Montserrat;
  font-size: 75px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.about-col-1 {
  flex-basis: 30%;
}
.about-col-2 {
  flex-basis: 60%;
  margin-left: 900px;
}

.sub-tittle {
  font-weight: 600;
  color: #f5ebeb;
  font-family: Montserrat;
  font-size: 90px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 110px;
  margin-right: 200px;
}

.sub-tittle1 {
  color: #adb6cf;
  font-family: Montserrat;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  line-height: 2.5;
  letter-spacing: 4px;
  text-align: justify; /* Menggeser teks ke kiri */
  margin-top: 50px;
  margin-right: 150px;
}

.tab-titles {
  display: flex;
  margin: 10px 0 40px;
  margin-top: 100px;
}

.tab-titles1 {
  margin-right: 90px;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  color: #2c67ff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
}

.tab-titles1::after {
  content: "";
  width: 0;
  height: 3px;
  background: #2c67ff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.tab-titles1:hover::after {
  width: 100%;
}

.back {
  width: 65px;
  height: auto;
  position: absolute;
  top: 90px; /* Atur posisi dari atas */
  left: 100px; /* Atur posisi dari kiri */
}
