* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background: #181616;
  color: #fff;
  max-width: 1920px;
  max-height: 1080px;
  overflow: hidden;
}
.header {
  font-weight: 600;
  color: #f5ebeb;
  font-family: Montserrat;
  font-size: 33px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 120px;
  margin-left: 230px;
}

.back {
  width: 65px;
  height: auto;
  position: absolute;
  top: 90px; /* Atur posisi dari atas */
  left: 100px; /* Atur posisi dari kiri */
}

/* konten contact me */
.contact-left {
  position: relative;
  margin-left: 100px;
  margin-top: 210px;
}
.contact-left p {
  color: #f5ebeb;
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 70px;
}

.contact-left p i {
  color: #f5ebeb;
  margin-right: 40px;
}
.sub-tittle {
  color: #f5ebeb;
  font-size: 80px;
  font-family: Montserrat;
  font-weight: 800;
  margin-bottom: 70px;
}
.social-icons {
  margin-top: 10px;
}

.social-icons a {
  font-size: 75px;
  letter-spacing: 30px;
  text-decoration: none;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  margin-top: 90px;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #2c67ff;
  transform: translateY(-5px);
}

.contact-right {
  /* posisi form */
  position: relative;
  margin-top: -600px;
  /* ukuran form */
  width: 500px; /* Sesuaikan dengan lebar yang diinginkan */
  height: 600px;
  margin-left: 1100px;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px o;
  color: grey;
  font-size: 25px;
  border-radius: 35px;
  margin-bottom: 20px;
}

.btn-primary {
  display: inline-block;
  background: #2c67ff;
  cursor: pointer;
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 800;
  width: 230px;
  height: 70px;
  margin-top: 70px;
  background-color: #2c67ff;
  border-radius: 15px;
}
