* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background: #181616;
  color: #fff;
  max-width: 1920px;
  max-height: 1080px;
  overflow: hidden;
}
.header {
  font-weight: 600;
  color: #f5ebeb;
  font-family: Montserrat;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 100px;
  margin-left: 230px;
}

.back {
  width: 65px;
  height: auto;
  position: absolute;
  top: 90px; /* Atur posisi dari atas */
  left: 100px; /* Atur posisi dari kiri */
}
/* list experience */

/* list1 */
.bullet-points {
  list-style-type: disc; /* Jenis poin bulat */
  /* list-style-type: square; /* Jenis poin persegi */
  /* list-style-type: none; /* Tanpa poin */
  /* list-style-type: circle; /* Jenis poin lingkaran */
  margin-top: 60px;
  margin-left: 250px;
}

/* Styling tambahan untuk teks */
.bullet-points li {
  font-size: 20px;
  color: #f5ebeb;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 800;
  width: 1000px;
  word-wrap: break-word;
  line-height: 50px;
}

.sub {
  font-size: 15px;
  font-family: Montserrat;
  color: #adb6cf;
}
.date {
  position: absolute;
  right: 100px; /* Mengatur elemen date1 ke sisi kanan */
}

/* list2 */
.bullet-points1 {
  list-style-type: disc; /* Jenis poin bulat */
  /* list-style-type: square; /* Jenis poin persegi */
  /* list-style-type: none; /* Tanpa poin */
  /* list-style-type: circle; /* Jenis poin lingkaran */
  margin-top: 60px;
  margin-left: 250px;
}

/* Styling tambahan untuk teks */
.bullet-points1 li {
  font-size: 20px;
  color: #f5ebeb;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 800;
  width: 1000px;
  word-wrap: break-word;
  line-height: 50px;
}

.sub1 {
  font-size: 15px;
  font-family: Montserrat;
  color: #adb6cf;
}
.date1 {
  position: absolute;
  right: 100px; /* Mengatur elemen date1 ke sisi kanan */
}

/* list3 */
.bullet-points2 {
  list-style-type: disc; /* Jenis poin bulat */
  /* list-style-type: square; /* Jenis poin persegi */
  /* list-style-type: none; /* Tanpa poin */
  /* list-style-type: circle; /* Jenis poin lingkaran */
  margin-top: 60px;
  margin-left: 250px;
}

/* Styling tambahan untuk teks */
.bullet-points2 li {
  font-size: 20px;
  color: #f5ebeb;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 800;
  width: 1000px;
  word-wrap: break-word;
  line-height: 50px;
}

.sub2 {
  font-size: 15px;
  font-family: Montserrat;
  color: #adb6cf;
}
.date2 {
  position: absolute;
  right: 100px; /* Mengatur elemen date1 ke sisi kanan */
}

/* list4 */
.bullet-points3 {
  list-style-type: disc; /* Jenis poin bulat */
  /* list-style-type: square; /* Jenis poin persegi */
  /* list-style-type: none; /* Tanpa poin */
  /* list-style-type: circle; /* Jenis poin lingkaran */
  margin-top: 60px;
  margin-left: 250px;
}

/* Styling tambahan untuk teks */
.bullet-points3 li {
  font-size: 20px;
  color: #f5ebeb;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 800;
  width: 1000px;
  word-wrap: break-word;
  line-height: 50px;
}

.sub3 {
  font-size: 15px;
  font-family: Montserrat;
  color: #adb6cf;
}
.date3 {
  position: absolute;
  right: 100px; /* Mengatur elemen date1 ke sisi kanan */
}
/* list5 */
.bullet-points4 {
  list-style-type: disc; /* Jenis poin bulat */
  /* list-style-type: square; /* Jenis poin persegi */
  /* list-style-type: none; /* Tanpa poin */
  /* list-style-type: circle; /* Jenis poin lingkaran */
  margin-top: 60px;
  margin-left: 250px;
}

/* Styling tambahan untuk teks */
.bullet-points4 li {
  font-size: 20px;
  color: #f5ebeb;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 800;
  width: 1000px;
  word-wrap: break-word;
  line-height: 50px;
}

.sub4 {
  font-size: 15px;
  font-family: Montserrat;
  color: #adb6cf;
}
.date4 {
  position: absolute;
  right: 100px; /* Mengatur elemen date1 ke sisi kanan */
}

/* list6 */
.bullet-points5 {
  list-style-type: disc; /* Jenis poin bulat */
  /* list-style-type: square; /* Jenis poin persegi */
  /* list-style-type: none; /* Tanpa poin */
  /* list-style-type: circle; /* Jenis poin lingkaran */
  margin-top: 60px;
  margin-left: 250px;
}

/* Styling tambahan untuk teks */
.bullet-points5 li {
  font-size: 20px;
  color: #f5ebeb;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 800;
  width: 1000px;
  word-wrap: break-word;
  line-height: 50px;
}

.sub5 {
  font-size: 15px;
  font-family: Montserrat;
  color: #adb6cf;
}
.date5 {
  position: absolute;
  right: 100px; /* Mengatur elemen date1 ke sisi kanan */
}
