* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background: #181616;
  color: #fff;
}

/* Home */

#header {
  width: 100%;
  height: 100vh;
  position: relative;
}

#header-image {
  width: 3000px; /* Lebar gambar */
  height: 3000px; /* Tinggi gambar */
  object-fit: cover; /* Menjaga proporsi gambar */
  position: absolute;
  top: 150px;
  right: 400px; /* Meletakkan gambar di bagian kanan */
  margin: 10px; /* Menambahkan margin untuk memberi ruang */
}

#logo {
  width: 300px; /* Lebar gambar */
}
.container {
  padding: 5px 2%;
}

nav {
  display: flex;
  align-items: right;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 120px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  width: 657px;
  height: 37px;
  flex-shrink: 0;
}

nav ul li a {
  color: #adb6cf;
  text-decoration: none;
  font-size: 110px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #2c67ff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  margin-left: 300px;
  color: #adb6cf;
  font-family: Montserrat;
  font-size: 90px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
}
.header-text h1 {
  font-size: 190px;
  margin-top: 20px;
  color: #f5ebeb;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.aldi {
  color: #2c67ff;
  font-family: Montserrat;
  font-size: 190px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.alfiandiansyah {
  color: #f5ebeb;
}

/* CSS for small screens */
/* Tambahkan media query untuk iPhone XR dengan lebar layar 414px */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  #header {
    height: auto; /* Atur tinggi header sesuai kontennya */
  }

  #header-image {
    width: 100%; /* Gambar mengisi lebar kontainer */
    height: auto; /* Sesuaikan tinggi sesuai proporsi asli */
    position: static; /* Hapus posisi absolut */
    margin: 10px 0; /* Sesuaikan margin */
  }

  .header-text {
    margin-top: 10%; /* Sesuaikan margin */
    margin-left: 0; /* Reset margin kiri */
  }

  nav {
    margin-top: 20px; /* Sesuaikan margin atas */
  }

  nav ul li {
    width: 100%; /* Menyusun menu penuh lebar */
    text-align: center; /* Pusatkan teks */
    margin-bottom: 10px; /* Tambahkan ruang antar menu */
  }

  nav ul li a {
    font-size: 20px; /* Sesuaikan ukuran font */
  }

  .aldi,
  .alfiandiansyah {
    font-size: 24px; /* Sesuaikan ukuran font */
  }
}
