* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background: #181616;
  color: #fff;
  max-width: 1920px;
  max-height: 1080px;
  overflow: hidden;
}

/* Home */

#header {
  width: 100%;
  height: 100vh;
  position: absolute;
}

#header-image {
  width: 1000px; /* Lebar gambar */
  height: 1000px; /* Tinggi gambar */
  position: absolute;
  top: 10px;
  left: 1050px; /* Meletakkan gambar di bagian kanan */
}

#logo {
  width: 100px; /* Lebar gambar */
  margin-top: 0px;
}
.container {
  padding: 5px 2%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

nav ul li {
  display: inline-block;
  list-style: none;
}

nav ul li a {
  color: #adb6cf;
  text-decoration: none;
  font-size: 30px;
  position: relative;
  margin: 20px;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #2c67ff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 15%;
  margin-left: 8px;
  color: #adb6cf;
  font-family: Montserrat;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
}
.header-text h1 {
  font-size: 70px;
  margin-top: 50px;
  color: #f5ebeb;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.aldi {
  color: #2c67ff;
  font-family: Montserrat;
  font-size: 90px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.alfiandiansyah {
  color: #f5ebeb;
}

nav .fas {
  display: none;
}

/* CSS for small screens */

@media screen and (max-width: 600px) {
  body {
    background: #181616;
    color: #fff;
    width: 1080px;
    height: auto;
  }

  #header {
    width: 100%;
    height: 100vh;
    position: absolute;
  }
  #header-image {
    width: 800px; /* Lebar gambar */
    height: 800px; /* Tinggi gambar */
    object-fit: cover; /* Menjaga proporsi gambar */
    position: absolute;
    top: 40px;
    left: 90px; /* Meletakkan gambar di bagian kanan */
    margin: 10px; /* Menambahkan margin untuk memberi ruang */
  }
  #logo {
    width: 80px; /* Lebar gambar */
    margin-top: -120px;
    margin-left: 20px;
  }
  .container {
    padding: 1px 1%;
  }
  .header-text {
    margin-top: 200px;
    font-size: 13px;
    margin-left: 20px;
  }
  .header-text h1 {
    font-size: 30px;
  }

  .aldi {
    color: #2c67ff;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .alfiandiansyah {
    color: #f5ebeb;
    font-size: 35px;
  }
  nav .fas {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #181616;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 70px;
    z-index: 2;
  }
  nav ul li {
    display: block;
    margin: 9px;
  }
  nav ul li a {
    color: #adb6cf;
    text-decoration: none;
    font-size: 15px;
    position: absolute;
  }
  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 10px;
    cursor: pointer;
  }
  .fa-bars {
    margin-top: -75px;
    margin-right: 50px;
  }
}
