* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background: #181616;
  color: #fff;
  max-width: 1920px;
  max-height: 1080px;
  overflow: hidden;
}
.header {
  font-weight: 600;
  color: #f5ebeb;
  font-family: Montserrat;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 100px;
  margin-left: 230px;
}

.back {
  width: 65px;
  height: auto;
  position: absolute;
  top: 90px; /* Atur posisi dari atas */
  left: 100px; /* Atur posisi dari kiri */
}
/* konten */

.gallery {
  margin-top: 100px; /* Menambahkan margin atas pada .gallery untuk memberikan jarak */
}

.row {
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
  margin-left: 200px;
  margin-bottom: 190px;
}

img {
  width: 300px;
  height: 200px;
  margin-right: 10px;
}
