* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background: #181616;
  color: #fff;
}
.header {
  color: #f5ebeb;
  font-size: 200px;
  font-family: Montserrat;
  font-weight: 800;
  word-wrap: break-word;
  margin-left: 500px;
  margin-top: 290px;
}

.back {
  width: 150px;
  height: auto;
  position: absolute;
  top: 340px; /* Atur posisi dari atas */
  left: 200px; /* Atur posisi dari kiri */
}
/* konten */

.gallery {
  margin-top: 190px; /* Menambahkan margin atas pada .gallery untuk memberikan jarak */
}

.row {
  display: flex;
  justify-content: space-between;
  margin-right: 300px;
  margin-left: 500px;
  margin-bottom: 390px;
}

img {
  width: 9900px;
  height: 800px;
  margin-right: 10px;
}
