* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background: #181616;
  color: #fff;
  max-width: 1920px;
  max-height: 1080px;
  overflow: hidden;
}
.header {
  font-weight: 600;
  color: #f5ebeb;
  font-family: Montserrat;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 100px;
  margin-left: 230px;
}

.back {
  width: 65px;
  height: auto;
  position: absolute;
  top: 90px; /* Atur posisi dari atas */
  left: 100px; /* Atur posisi dari kiri */
}

/* cover project */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.box {
  position: relative;
  width: 450px; /* atau 1200px sesuai kebutuhan */
  height: 450px; /* atau 1200px sesuai kebutuhan */
  border-radius: 20px;
  overflow: hidden;
  margin: 120px; /* Hanya digunakan pada versi pertama */
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: rectangular(20% at center);
  opacity: 0.4;
  background-color: dimgrey;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5ebeb;
  font-size: 60px;
  font-family: Montserrat;
  font-weight: 800;
}
