* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background: #181616;
  color: #fff;
}
.header {
  color: #f5ebeb;
  font-size: 200px;
  font-family: Montserrat;
  font-weight: 800;
  word-wrap: break-word;
  margin-left: 500px;
  margin-top: 290px;
}

.back {
  width: 150px;
  height: auto;
  position: absolute;
  top: 340px; /* Atur posisi dari atas */
  left: 200px; /* Atur posisi dari kiri */
}

/* konten project */
.container12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

/* Kontainer 1 dan 2 di dalam .container12 */
.container12 .box:nth-child(1) {
  margin-right: 90px; /* Atur margin kanan antara kontainer 1 dan 2 */
}

.container12 .box:nth-child(2) {
  margin-left: 90px; /* Atur margin kiri antara kontainer 1 dan 2 */
}

.container345 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-top: -600px;
}
/* Kontainer 3, 4, dan 5 di dalam .container345 */
.container345 .box {
  margin: 0 130px; /* Atur margin kanan dan kiri antara kontainer 3, 4, dan 5 */
}

/* Kontainer 1 dan 2 di atas */
.box:nth-child(1),
.box:nth-child(2) {
  margin-top: 50px; /* Atur margin antar kontainer */
}

.box {
  position: relative;
  width: 1700px; /* atau 1200px sesuai kebutuhan */
  height: 1300px; /* atau 1200px sesuai kebutuhan */
  border-radius: 250px;
  overflow: hidden;
}

/* Kontainer 3, 4, dan 5 di bawah */
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5) {
  margin-left: 20px; /* Atur margin antar kontainer */
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: rectangular(20% at center);
  opacity: 0.4;
  background-color: dimgrey;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5ebeb;
  font-size: 80px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 110px;
}
