* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background: #181616;
  color: #fff;
  max-width: 1920px;
  max-height: 1080px;
  overflow: hidden;
}
.header {
  font-weight: 600;
  color: #f5ebeb;
  font-family: Montserrat;
  font-size: 33px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 120px;
  margin-left: 230px;
}

.back {
  width: 65px;
  height: auto;
  position: absolute;
  top: 90px; /* Atur posisi dari atas */
  left: 100px; /* Atur posisi dari kiri */
}
/* konten */

.konten {
  color: #f5ebeb;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 300;
  text-align: justify;
  margin-left: 230px;
  margin-right: 100px;
  margin-top: 40px;
  line-height: 39px;
  letter-spacing: 1px;
}
/* Bukti Konten */

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 400px;
}

.item {
  text-align: center;
  font-size: 15px;
  font-family: Montserrat;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 200px;
  margin-left: 200px;
}

#kodesumber {
  margin-left: 360px;
  margin-top: -460px;
}
#hasil {
  margin-left: 50px;
  margin-top: -300px;
}

#Arsitektursensor {
  margin-left: 50px;
  margin-top: -450px;
}

img {
  width: 300px;
  height: auto;
  margin-top: 10px; /* Jarak antara teks dan gambar */
}

/* gambar kode sumber */
.foto1 {
  margin-left: 290px;
  margin-top: 40px;
}
/* gambar hasil */
.foto2 {
  margin-top: 70px;
  margin-left: 20px;
}

/* gambar poster */
.foto3 {
  margin-right: 40px;
  margin-top: 30px;
}
.foto33 {
  margin-right: 360px;
  margin-top: 10px;
}
