* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background: #181616;
  color: #fff;
}
.header {
  color: #f5ebeb;
  font-size: 140px;
  font-family: Montserrat;
  font-weight: 800;
  text-align: justify;
  word-wrap: break-word;
  margin-left: 500px;
  margin-right: 200px;
  margin-top: 290px;
}

.back {
  width: 150px;
  height: auto;
  position: absolute;
  top: 340px; /* Atur posisi dari atas */
  left: 200px; /* Atur posisi dari kiri */
}
/* konten */

.konten {
  color: #f5ebeb;
  font-size: 50px;
  font-family: Montserrat;
  font-weight: 500;
  text-align: justify;
  margin-left: 500px;
  margin-right: 200px;
  margin-top: 100px;
  line-height: 100px;
  letter-spacing: 2px;
}

/* Bukti Konten */

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 400px;
}

.item {
  text-align: center;
  font-size: 50px;
  font-family: Montserrat;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 200px;
  margin-left: 200px;
}

#kodesumber {
  margin-left: 500px;
  margin-top: -950px;
  margin-bottom: 50px;
}
#hasil {
  margin-left: 1100px;
  margin-top: -990px;
  margin-bottom: 50px;
}

#rangkaian {
  margin-left: 320px;
  margin-top: -220px;
  margin-bottom: 50px;
}

img {
  width: 1100px;
  height: auto;
  margin-top: 10px; /* Jarak antara teks dan gambar */
}

/* gambar kode sumber */
.foto1 {
  margin-left: 200px;
}
/* gambar hasil */
.foto22 {
  margin-bottom: 250px;
  margin-left: -50px;
}

/* gambar poster */
.foto3 {
  margin-right: 20px;
  margin-top: 10px;
}
.foto33 {
  margin-right: 300px;
}
