* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background: #181616;
  color: #fff;
  max-width: 1920px;
  max-height: 1080px;
  overflow: hidden;
}
.header {
  font-weight: 600;
  color: #f5ebeb;
  font-family: Montserrat;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 100px;
  margin-left: 230px;
}

.back {
  width: 65px;
  height: auto;
  position: absolute;
  top: 90px; /* Atur posisi dari atas */
  left: 100px; /* Atur posisi dari kiri */
}

.container {
  display: flex;
}

.persegi {
  width: 190px; /* Sesuaikan lebar persegi */
  height: 40px; /* Sesuaikan tinggi persegi */
  background-color: #2c67ff;
  margin-right: 190px; /* Sesuaikan jarak antar persegi */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin-left: 150px;
  margin-top: 130px;
}

.teks-di-dalam {
  color: white;
  font-size: 18px; /* Sesuaikan ukuran font */
  font-family: Montserrat;
  font-weight: 800;
  word-wrap: break-word;
  text-decoration: none;
}

/* list languages */
.bullet-points {
  list-style-type: disc; /* Jenis poin bulat */
  /* list-style-type: square; /* Jenis poin persegi */
  /* list-style-type: none; /* Tanpa poin */
  /* list-style-type: circle; /* Jenis poin lingkaran */
  margin-top: 60px;
  margin-left: 180px;
}

/* Styling tambahan untuk teks */
.bullet-points li {
  font-size: 18px;
  letter-spacing: 1px;
  color: #f5ebeb;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 800;
  width: 400px;
  word-wrap: break-word;
  line-height: 60px;
}

/* list software */
.bullet-points2 {
  list-style-type: disc; /* Jenis poin bulat */
  /* list-style-type: square; /* Jenis poin persegi */
  /* list-style-type: none; /* Tanpa poin */
  /* list-style-type: circle; /* Jenis poin lingkaran */
  margin-top: -180px;
  margin-left: 650px;
}

/* Styling tambahan untuk teks */
.bullet-points2 li {
  font-size: 18px;
  letter-spacing: 1px;
  color: #f5ebeb;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 800;
  width: 500px;
  word-wrap: break-word;
  line-height: 60px;
}

/* list engineering */
.bullet-points3 {
  list-style-type: disc; /* Jenis poin bulat */
  /* list-style-type: square; /* Jenis poin persegi */
  /* list-style-type: none; /* Tanpa poin */
  /* list-style-type: circle; /* Jenis poin lingkaran */
  margin-top: -365px;
  margin-left: 1130px;
}

/* Styling tambahan untuk teks */
.bullet-points3 li {
  font-size: 18px;
  color: #f5ebeb;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 800;
  width: 500px;
  word-wrap: break-word;
  line-height: 60px;
}

/* list other */
.bullet-points4 {
  list-style-type: disc; /* Jenis poin bulat */
  /* list-style-type: square; /* Jenis poin persegi */
  /* list-style-type: none; /* Tanpa poin */
  /* list-style-type: circle; /* Jenis poin lingkaran */
  margin-top: -240px;
  margin-left: 1610px;
}

/* Styling tambahan untuk teks */
.bullet-points4 li {
  font-size: 18px;
  letter-spacing: 1px;
  color: #f5ebeb;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 800;
  width: 400px;
  word-wrap: break-word;
  line-height: 60px;
}
